.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.isDone {
  color: hotpink;
  font-weight: 700;
  text-decoration: line-through;
}

.btn {
  margin: 3px;
}

.btn-active {
  background-color: hotpink;
  color: white;
  border-color: hotpink;
  border-radius: 3px;
  outline: 0;
}

.error {
  border: 2px solid hotpink;
}
